gears.jade

            .conta
              .gearbox
                .overlay
                .gear.one
                  .gear-inner
                    .bar
                    .bar
                    .bar
                .gear.two
                  .gear-inner
                    .bar
                    .bar
                    .bar
                .gear.three
                  .gear-inner
                    .bar
                    .bar
                    .bar
                .gear.four.large
                  .gear-inner
                    .bar
                    .bar
                    .bar
                    .bar
                    .bar
                    .bar


// scuried away from http://codepen.io/alextebbs/pen/tHhrz