.container-fluid(class="{{pageClass}}")
    .row
        .col-md-8.col-md-offset-2.ui-view-container
            .page
                .animation(ui-view autoscroll="false")


article(ng-controller="pageController")
    