.board-outline
    .board-proper
        .board-actual
            h3 Take a holiday this holiday season and Let our highly trained mice take the strain 

            a.btn.btn-success.btn-lg(href='/private') How does it work?