.board-outline
    .board-proper
        .board-actual
            h3 But that Christmas wouldn't be the same without Grandmas baking
        
            a.btn.btn-primary.btn-lg(href='/three') Next.