article(ng-controller="pageController")
    .board-outline
        .board-proper
            .board-actual
    .stage
        .raining-text UI Glue on a {{pageClass}}
    a.btn.btn-primary.btn-lg(href='/two') Next.

    a(href="#" ng-click="dostuff()") run

