//article.post.simpleCart_shelfItem

    //h2.item_name ParableoftheFireman
        //a(href="shop/products/{{product._id}}") {{product.productName}}
    //img(src="/images/parable.png")

    //h4.price.item_price 0.10 &euro;

    //div.description
        //My First book

    //select.item_size
        //option(value="downloadurl") downloadurl

    //a.item_add(href="javascript:;") Add to Cart

//(ng-repeat="product in products")
//article.post.simpleCart_shelfItem

    //h2.item_name little-book-of-scribbles.pdf
        //a(href="shop/products/{{product._id}}") {{product.productName}}
    //img(src="/images/parable.png")

    //h4.price.item_price .57 GBP;

    //div.description
        //p A little book about writing on walls

    //a.item_add(href="javascript:;") Add to Cart


article.post.simpleCart_shelfItem

    h2.item_name aptitude-is-abundance.pdf
        //a(href="shop/products/{{product._id}}") {{product.productName}}
    //img(src="/images/parable.png")

    h4.price.item_price 5 GBP;

    div.description
        p A little book about writing on walls

    a.item_add(href="javascript:;") Add to Cart

article.post.simpleCart_shelfItem

    h2.item_name Some Cookies
        //a(href="shop/products/{{product._id}}") {{product.productName}}
    img(src="/images/cookies.jpg")

    h4.price.item_price 10 &euro;

    div.description
        p You will recieve 
        ul
            li Some cookies
            li they are great, we boiled the 
            li butter for hours, and then we
            li felt a little bad about the 
            li environment, so we mixed in the 
            li dry ingredients and put them in 
            li the freezer. They taste yum.

    a.item_add(href="javascript:;") Add to Cart


article.post.simpleCart_shelfItem

    h2.item_name this-website.txt
        //a(href="shop/products/{{product._id}}") {{product.productName}}
    //img(src="/images/parable.png")

    h4.price.item_price 600 &euro;

    div.description
        p You will recieve 
        ul
            li the private bitbucket repository
            li the modulus.io hosting account
            li full installation instructions
            li help with customisation

    a.item_add(href="javascript:;") Add to Cart

article.post.simpleCart_shelfItem

    h2.item_name That Website
        //a(href="shop/products/{{product._id}}") {{product.productName}}
    //img(src="/images/parable.png")

    h4.price.item_price 4300 GBP;

    div.description
        p You will recieve everything above..
        ul
            li the private bitbucket repository
            li the modulus.io hosting account
            li full installation instructions
            li help with customisation

        p plus - 
        p An application tailored to the needs of your product and users

    a.item_add(href="javascript:;") Add to Cart
