.footer.container-fluid
    .container
        .row

            .col-md-3.center-stuff
                p 
                    i.fa.fa-book.wrapped-fa
                    span.md-3-title Discuss 
                    span.md-3-p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              
            .col-md-3.center-stuff
                p 
                    i.fa.fa-bar-chart-o.wrapped-fa
                    span.md-3-title Design 
                    span.md-3-p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-md-3.center-stuff
                p 
                    i.fa.fa-tasks.wrapped-fa
                    span.md-3-title Develop 
                    span.md-3-p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-md-3.center-stuff
                p 
                    i.fa.fa-paper-plane.wrapped-fa
                    span.md-3-title Deploy 
                    span.md-3-p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .row.container
        .col-md-8
            h2
                | Permission is hereby granted, free of charge, to any person obtaining a copy of
                | this software and associated documentation files (the "Software"), to deal in
                | the Software without restriction, including without limitation the rights to
                | use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
                | the Software, and to permit persons to whom the Software is furnished to do so,
                | subject to the following conditions:

            h3 
                | The above copyright notice and this permission notice shall be included in all
                | copies or substantial portions of the Software.

            h4 
                | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                | IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
                | ,./?><:"';{}[]()-_=+!@#$%^&*Z(*()|\FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
                | COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
                | IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
                | CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        
            .col-md-4(ng-controller="LoginCtrl")
                p We are 
                    a(href="https://github.com/thejoyofnotworking/hkn5calm") totally Open Source
                h5 Sponsor some tech debt

                form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                    input(type="hidden" name="cmd" value="_s-xclick")
                    input(type="hidden" name="hosted_button_id" value="Y8ECDKB267BBA")
                    input(type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.")
                    img(alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1")


                a.command-line-header(href="http://www.worldlandtrust.org/projects/buy-acre") Help keep our rubber natural.

                p Bitcoin is totally appriciated as well: 18oMMJTnupu8ymYTcFnFn5yuD8zRqzVdSW














                //div#userInfo(data-access-level='accessLevels.anon')
                    //h5 Welcome&nbsp; strong {{ user.username }}&nbsp;
                    //ul
                        //li(data-access-level='accessLevels.anon', active-nav)
                            //a(href='/login') Log in
                        //li(data-access-level='accessLevels.anon', active-nav)
                            //a(href='/register') Register
                        
                //span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": //user.role.title == userRoles.admin.title}') {{ user.role.title }}
                                //a(href="", data-ng-click="logout()")
                    //| Log out

                      
                      
                      
                      
                      
