h2(ng-controllor="LoginCtrl") Hi {{user}},

h3 Welcome to A Jigsaw short of a Picnic

p The menu on the right shows you the things your can do.

p Follow our guide to get started. 

p If you not a new user in which case this page will look different.

This sotware is totally open source.. and we certainly didn't create it ourselves

help keep our rubber natural -- rainforests
help pay the subsisidy on our checkout -- simplecartjs

or simply 

give us some money -- paypal

We are very grateful for any and all assistance. We also have a shop.